<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.terry.demo.mapper.ListMetaMapper">

    <resultMap id="BaseResultMap" type="com.terry.demo.model.ListMetaModel">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="listName" column="list_name" jdbcType="VARCHAR"/>
        <result property="listDescription" column="list_description" jdbcType="VARCHAR"/>
        <result property="encryptType" column="encrypt_type" jdbcType="VARCHAR"/>
        <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
        <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,list_name,list_description,
        encrypt_type,create_user,update_user,
        create_time,update_time
    </sql>

    <select id="selectById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from list_meta
        where id = #{id}
    </select>
</mapper>
